<%- include('partials/header'); -%>


<form action>
    <h2>Sign up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
    <div class="email error"></div>
    <label for="password">Passwor</label>
    <input type="password" name="password" id="password" required>
    <button>Sign up</button>
</form>
<script src="/js/script.js"></script>
<%- include('partials/footer'); -%>